* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* margin: 0px; */
    font-family: 'segoe ui';
}

.nav {
    background: url(./images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    /* color: #fff; */
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    /* color: #efefef; */
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}


.header-content {
    margin: 100px auto;
    width: fit-content;
    text-align: center;
}

.camp-meeting {
    background-color: maroon;
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
}

.camp-content>ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid red;
}

.main-content {
    border: solid green;
    /* width: 100%; */
gap: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 100%;
}

.card>img {
    width: inherit;
}

.card>h3 {
    text-align: center;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 350px);
        overflow-y: auto;
    }

    .header-content {
        text-align: center;
        /* width: 200px; */
        /* margin: 0; */
    }

    .camp-meeting {
        display: block;
        justify-content: space-between;
        padding: 0px;
        margin: 0;
    }

    .camp-meeting>h2 {
        font-size: 15px;
    }

    .camp-content>ul {
        display: block;
        /* gap: 40px; */
        /* list-style: none; */
    }

    .camp-content>h2 {
        font-size: 14px;
    }

    .main-content {
        display: block;
        /* justify-content: space-around; */
    }

    .card {
        width: 100%;
    }

    .card>img {
        /* width: 200px; */
    }
}